nav.nav
  .nav__icon#nav-menu
    span.nav__btn
    span.nav__btn
    span.nav__btn

  .nav__menu
    ul
      each item in ['О компании', 'Техподдержка', 'Подключится']
        li
          a(href="#") #{item}
