.boxs
  .box__item
    .box__img
      img(src="images/bg/box.jpg", alt="")
    .box__cont

  .box__item.box__item-blue
    .box__img
    .box__cont

  .box__item.box__item-double
    .box__img
    .box__cont

