$laptop: 1024px;
$ipad: 768px;
$phone: 320px;

@mixin laptop() {
  @media screen and (max-width: $laptop) {
    @content;
  }
}
@mixin ipad() {
  @media screen and (max-width: $ipad) {
    @content;
  }
}
@mixin phone() {
  @media screen and (max-width: $phone) {
    @content;
  }
}

* {
  outline: none;
}

body {
  font: 16px/1.46 robotoregular, Arial sans-serif;
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-height: 600px;
  @include clearfix;
}
